<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script>
      function submit() {
        document.querySelector("#output").innerHTML = `<progress className="progress is-small is-primary" max="100"></progress>`
        const columns = {{input_columns}};

        const data = {};
        for (let col of columns) {
          data[col] = Array.from(document.querySelectorAll(`input.${col}`)).map(cell => cell.value).filter(cell => cell !== "");
        }

        fetch(document.URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        }).then(response => response.json())
          .then(data => {
            document.querySelector("#output").innerHTML = JSON.stringify(data, null, 2)
            console.log("Success:", data);
          })
          .catch((error) => {
            document.querySelector("#output").innerHTML = error;
            console.error("Error:", error);
          })
      }

      function reset() {
        const inputs = Array.from(document.querySelectorAll(`input`));
        inputs.forEach(input => input.value = "");
      }
    </script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand is-align-items-center">
            <p class="title has-text-white pb-1">{{ project_name }}</p>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="https://github.com/vinceyyyyyy/Aerostat">
                        Deployed by
                        <strong class="has-text-info px-1">Aerostat</strong></a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section container p-4">
    <div class="columns">
        <div class="column">
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Build at</p>
                        <p class="title is-5">{{ build_timestamp }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Input Columns</p>
                        <p class="title is-5">{{ input_columns|join(", ") }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Python Libraries used</p>
                        <p class="title is-5">{{ python_dependencies|join(", ") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section container p-4">
    <div class="columns">
        <div class="column">
            <h2 class="subtitle">Playground</h2>
            <div class="container p-4">
                <h2>Input</h2>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        {% for col in input_columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for col in range(5) %}
                        <tr>
                            {% for col in input_columns %}
                                <th>
                                    <div><input type="string" class="{{ col }}"></div>
                                </th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="button" type="submit" onclick="submit()">Test Model</button>
                <button class="button" type="submit" onclick="reset()">Reset</button>
            </div>
            <div class="container p-4">
                <h2>Output</h2>
                <div id="output"></div>
            </div>
        </div>
    </div>
</section>

<section class="section container p-4">
    <div class="columns">
        <div class="column">
            <h2 class="subtitle">Connect To the Model</h2>
            <div class="tabs is-boxed">
                <ul>
                    <li class="tab is-active" id="python-tab"><a>Python / Jupyter Notebook</a></li>
                    <li class="tab" id="excel-tab"><a>Excel</a></li>
                    <li class="tab" id="google-sheets-tab"><a>Google Sheets</a></li>
                    <li class="tab" id="tableau-tab"><a>Tableau</a></li>
                </ul>
            </div>
            <div class="container" id="python-tab-content">
                <pre class="p-0 has-background-white">
                    <code class="language-python p-0">
    import requests
    import pandas as pd

    url = ""
    data = pd.DataFrame(
        {
            {%- for col in input_columns %}
            "{{ col }}": [], # add your data here
            {%- endfor %}
        }
    ).to_json()
    response = requests.post(url, json=data)
    print(response.json())
                    </code>
                </pre>
            </div>
            <div class="container is-hidden px-4" id="excel-tab-content">
                <ol>
                    <li class="my-1"><a id="download-excel" href="." target="_self" download="excel_template.xlsm"><strong>Download</strong></a><span> the Excel template file</span>
                    </li>
                    <li class="my-1">Open the downloaded Excel file, put input data to INPUT_TABLE on the Input sheet.
                    </li>
                    <li class="my-1">Click Refresh All... button from the Data tab.
                    </li>
                </ol>
            </div>
            <div class="container is-hidden" id="google-sheets-tab-content">
                Link
            </div>
            <div class="container is-hidden" id="tableau-tab-content">
                Download
            </div>
        </div>
    </div>
</section>
<script>
  document.querySelector("#python-tab-content").innerHTML = document.querySelector("#python-tab-content").innerHTML.replace(/url = ""/g, `url = "${document.URL}"`);

  document.addEventListener('DOMContentLoaded', () => {
    const tabs = document.querySelectorAll('.tab')
    if (tabs === undefined) return

    tabs.forEach((tab) => {
      tab.addEventListener('click', (e) => {
        // event.currentTarget refers to element on which
        // the event listener was attached
        const tabName = e.currentTarget.attributes[1].nodeValue
        const currentTab = document.querySelector('.tab.is-active')
        const currentContent = document.getElementById(`${currentTab.id}-content`)
        const newTab = document.getElementById(tabName)
        const newTabContent = document.getElementById(`${tabName}-content`)

        currentTab.classList.remove('is-active')
        currentContent.classList.add('is-hidden')

        newTab.classList.add('is-active')
        newTabContent.classList.remove('is-hidden')
      })
    })
  })

  const downloadExcel = document.querySelector('#download-excel')
  downloadExcel.href = `${document.URL}?type=excel`
</script>
</body>
</html>