<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script>
      function submit() {
        document.querySelector("#output").innerHTML = `<progress className="progress is-small is-primary" max="100"></progress>`
        const columns = {{input_columns}};

        const data = {};
        for (let col of columns) {
          data[col] = Array.from(document.querySelectorAll(`input.${col}`)).map(cell => cell.value).filter(cell => cell !== "");
        }

        fetch(document.URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        }).then(response => response.json())
          .then(data => {
            document.querySelector("#output").innerHTML = JSON.stringify(data, null, 2)
            console.log("Success:", data);
          })
          .catch((error) => {
            document.querySelector("#output").innerHTML = error;
            console.error("Error:", error);
          })
      }

      function reset() {
        const inputs = Array.from(document.querySelectorAll(`input`));
        inputs.forEach(input => input.value = "");
      }
    </script>
</head>
<body>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand is-align-items-center">
            <p class="title has-text-white pb-1">{{ project_name }}</p>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="https://github.com/vinceyyyyyy/Aerostat">
                        Deployed by
                        <strong class="has-text-info px-1">Aerostat</strong></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container p-4">
    <div class="columns">
        <div class="column">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Build at</p>
                        <p class="title is-5">{{ build_timestamp }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Input Columns</p>
                        <p class="title is-5">{{ input_columns|join(", ") }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Python Libraries used</p>
                        <p class="title is-5">{{ python_dependencies|join(", ") }}</p>
                    </div>
                </div>
            </nav>
            <h2 class="subtitle">Playground</h2>
            <div class="container p-4">
                <h2>Input</h2>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        {% for col in input_columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for col in range(5) %}
                        <tr>
                            {% for col in input_columns %}
                                <th>
                                    <div><input type="string" class="{{ col }}"></div>
                                </th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="button" type="submit" onclick="submit()">Test Model</button>
                <button class="button" type="submit" onclick="reset()">Reset</button>
            </div>
            <div class="container p-4">
                <h2>Output</h2>
                <div id="output"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>